html, body {
	height: 100%;
	margin: 0;
	background: rgba(230,210,0,1);
}

body {
	color: #ffffff;
	font-size: 250%;
	font-family: Lato, Roboto, sans-serif;
	text-align: center;
}

* {
	margin: 0;
	padding: 0;
}

p {
	margin: 30px;
}

table {
	margin: 80px 0 0 0;
	text-align: left;
	min-width: 700px;
}

td {
	/*border: 1px solid white;*/
}

.minheight {
	height: 60px;
	display: inline-block;
	margin: 15px 30px 0 30px;
}

input {
	border-style: none;
	outline: none;
	-webkit-appearance: none;
	font-family: Lato;
	font-size: 100%;
	margin: 0px 0px 0px 0px;
	background-color: rgba(255, 255, 255, 0);
	color: #ffffff;
	margin: 0 15px 0 0px;
	text-align: right;
	-webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    padding: 1px 5px 1px 5px;
}

.text:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.text:focus {
	background-color: rgba(255, 255, 255, 1);
	color: #E6D200;
}

.text {
	border-style: none;
    border-bottom: thick solid #ffffff;
}

.button {
	cursor: pointer;
	color: #ffffff;
	font-family: Lato;
	font-weight: 900;
}

.wrap {
	display: inline-block;
}

.tbh {
	visibility: visible;
	opacity: 0;
	-webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hidden {
	visibility: visible;
	opacity: 1;
}